@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/Style.css" />


<h2 style="text-align:left;">Welcome to the StudentSync</h2>

<p style="text-align:left; font-size:16px;">This system allows you to manage and view student records. You can perform various operations such as adding, updating, and deleting student information.</p>

<div class="jumbotron">
   
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Getting Started</h3>
        <p>
            To get started, use the navigation links above to explore different sections of the system. You can view all students, add a new student, and perform other actions.
        </p>
    </div>
    <div class="col-md-6">
        <h3>About the System</h3>
        <p>
            This system is designed to simplify the management of student records. It provides a user-friendly interface for administrators to perform CRUD operations on student data.
        </p>
    </div>
</div>


